<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home - DavidsCode</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to Davids JavaCodes</h1>
    </div>
    <div>
        <h3><a th:href="@{/list_users}"> List of all users</a> </h3>
        <h3><a th:href="@{/register}"> Register</a> </h3>
        <h3><a th:href="@{/login}">Login</a> </h3>
    </div>
</body>
</html>